*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: cursive;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1{
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.calculator
{
  background-color: #eef2f3;
  padding: 15px;
  border-radius: 30px;

  height: auto;
  display: grid;
  grid-template-columns: repeat(4,70px);
  border: none;
  box-shadow: inset 5px 5px 12px white,
                  5px 5px 12px black;
  

}
.display
{
  grid-column-start: 1;
  grid-column-end: 5;
  border: none;
  border-radius: 30px;
  text-align: right;
  height: 80px;

  font-size: 60px;
  padding: 18px;
  margin: 15px;
  box-shadow: inset 5px 5px 12px white,
                  5px 5px 12px black;
  outline: none;
  color: black;


}
button{
  border: none;
  box-shadow:  inset -5px -5px 10px #859398,
                  5px 5px 10px ;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  font-size: 15px;
  font-family: cursive;
  color: #283048;
  cursor:pointer;
}
